.settingsFormWrapper {
	text-align: center;
	position: relative;
	top: 0.5rem;
	background: white;
	border: 1px solid black;
	border-bottom: none;
	z-index: 100;
	max-width: 100%;

	.settingsForm {

		.sendBtnGroup {
			text-align: left;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;

			.sendBtn {
				margin: 0 0.2rem;
			}
		}
	}

	.closeForm {
		color: red;
		padding: 0 6px;
		cursor: pointer;
		border: 1px solid red;
		border-radius: 100%;
		outline: none;
		position: absolute;
		bottom: 1px;
		right: 1px;
	}
}