.listsWrapper {
	text-align: center;
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 10rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


	.listWrapper {
		margin: 0 3rem;
		text-align: right;
		position: relative;
		display: inline-block;


		.inputWrapper {
			margin-top: 1rem;
		}

		.list {
			position: relative;
			margin-top: 1.4rem;


			.showDesc {
				text-align: center;
				background: white;
				border-radius: 0.2rem;
				padding: 2px;
				font-size: 0.9rem;
				border: 1px solid black;
				outline: none;
				position: absolute;
				right: 0;
				left: -4rem;
				top: -1.5rem;
				z-index: 10;
				cursor: pointer;

				&:hover {
					background: azure;
				}

				.showDescEmail {
					padding-right: 5px;
				}

				.showDescPhone {
					padding-left: 5px;
				}
				.closeDesc {
					color: red;
					padding: 5px;
					cursor: pointer;
					position: absolute;
					bottom: -.5rem;
					right: -1.2rem;
				}
			}

			.descName {
				display: inline-block;
				padding: 0 0.2rem;
				cursor: pointer;
				font-size: 0.9rem;
				border-bottom: 1px solid black;
				border-bottom-right-radius: 0.2rem;
				border-bottom-left-radius: 0.2rem;

				&:hover {
					background: azure;
				}
			}

			.up, .add, .remove {
				margin: .2rem;
			}

			.remove {
				margin-right: 0;
			}
		}
	}
	.listWrapper.sublist {
		margin-right: -2rem;

	}
}

