@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}
$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.footerWrapper {
	@include bRad (1rem);
	margin: 0 auto;
	background-color: transparent;
border-bottom: 5px solid black;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;

	.linkPost {
		@extend .link;

		.linkImg {
			@extend .linkImg;
			border-radius: 5px;
		}
	}

	.footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		padding: 0.2rem 0.5rem;
		@include bRad (0.5rem);
		max-width: 100%;


		.link {
			text-decoration: none;
			color: blue;
			margin-left: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;

			.linkImg {
				display: flex;
				flex-direction: column;
				align-content: center;
				background: white;
				margin: 0 0.2rem;
				max-width: 2rem;
				border: 2px solid white;
				@include bRad (100%);
				&:hover {
					border: 2px solid blue;
				}
				&:active {
					border: 1px solid blue;
				}
			}
		}

		.linkLineWrapper {
			display: flex;
			margin-top: 0.5rem;



			.link {
				@extend .link;

				.linkImg {
					@extend .linkImg;

				}
			}
		}

		.LinkWrapper {
			display: flex;
			align-items: center;
			justify-content: space-around;
			max-width: 100%;
		}
		.photoWrapper {
			display: flex;
			align-items: center;

			.photo {
				margin: 0 0.5rem;
				max-width: 3.0rem;
				border: 1px solid blue;
				@include bRad (100%);
			}
		}
	}
	@media screen and (max-width: 670px) {
		.footer {
			justify-content: center;
		}
	}
}
.title {
	text-align: left;
	padding: 3px;
	margin: 1rem auto;
}








